<%= form_tag "/auth/identity/callback" do %>
  <div class="field">
    <%= label_tag :auth_key, "用户名" %><br>
    <%= text_field_tag :auth_key %>
  </div>
  <div class="field">
    <%= label_tag :password, "密码" %><br>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "登录" %></div>
  <a href="/signup">新用户注册</a>
<% end %>

<ul id="login_menu">
  <li><a href="/auth/weibo">新浪微博登录</a></li>
  <li><a href="/auth/qq_connect">腾讯登录</a></li>
  <li><a href="/auth/google">Google登录</a></li>
  <li><a href="/auth/github">Github登录</a></li>
</ul>

