<%= form_tag "/auth/identity/register" do %>
  <% if @user && @user.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= label_tag :name, "用户名" %><br>
    <%= text_field_tag :name, @user.try(:name) %>
  </div>
  <div class="field">
    <%= label_tag :email, "电子邮箱" %><br>
    <%= text_field_tag :email, @user.try(:email) %>
  </div>
  <div class="field">
    <%= label_tag :password, "密码" %><br>
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= label_tag :password_confirmation , "再输入一次密码" %><br>
    <%= password_field_tag :password_confirmation %>
  </div>
  <div class="actions"><%= submit_tag "注册" %></div>
<% end %>
