<%= form_for @registration do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2>囧，签到失败</h2>

      <ul>
        <% @registration.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :event_id %>
  <h2><%= link_to @registration.event.name, @registration.event %>签到</h2>
  <div class="field">
    <strong><%= f.label :name, "你愿意大家怎么称呼你？" %></strong><br />
    <%= f.text_field :name %>
  </div>
  <div class="field" id="registration_email_div">
    <strong><%= f.label :email, "你的电子邮箱是？" %></strong><br />
    <%= f.text_field :email %>
  </div>
  <p>有其它的网络联系方式吗？比如：</p>
  <div class="field">
    <%= f.label :weibo, "新浪微博？" %><br />
    <%= f.text_field :weibo %>
  </div>
  <div class="field">
    <%= f.label :douban, "豆瓣？" %><br />
    <%= f.text_field :douban %>
  </div>
  <div class="field">
    <%= f.label :qq, "QQ号码？" %><br />
    <%= f.text_field :qq %>
  </div>
  <div class="field">
    <%= f.label :intro, "简单介绍一下你自己吧" %><br />
    <%= f.text_area :intro, rows: 3 %>
  </div>
  <div class="actions">
    <%= f.submit "好了，就这么多"%>
  </div>
<% end %>
