<h2><%= @record.title %></h2>
<%= link_to '修改', edit_record_path(@record) if @record.user == current_user %>
<%= social_share_button_tag(@record.title) %>
<p>
  <span>作者：<%= @record.user.name %></span>
  <span>关联活动：<%= link_to @record.event.name, @record.event %></span>
</p>
<p>
<%= raw @record.text %>
</p>

<%= render template: "/layouts/_uyan.html" %>

