<div class="pending_event">
  <%= image_tag(event.poster_url) %>
  <div class="event_brief">
    <h1><%= link_to event.name, event %></h1>
    <p><%= event.hold_date %></p>
    <p><%= event.location %></p>
    <p><%= truncate(event.detail, length: 80, seperator: ' ') %></p>
  </div>
  <div class="event_location_map">
  <iframe width="425" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://ditu.google.cn/maps?f=q&amp;source=s_q&amp;hl=zh-CN&amp;geocode=&amp;q=%E9%87%8D%E5%BA%86%E5%B8%82%E4%B9%9D%E9%BE%99%E5%9D%A1%E5%8C%BA%E7%9F%B3%E6%A1%A5%E9%93%BA%E7%AB%8B%E4%BA%A4%E6%A1%A5%E7%9F%B3%E6%9D%A8%E8%B7%AF&amp;aq=&amp;sll=35.86166,104.195397&amp;sspn=49.36024,107.138672&amp;brcurrent=3,0x36ecca5586e462c9:0x6646f4a4d519a86e,0,0x36ecb75b6637a963:0x36c193556fd39e40%3B5,0,0&amp;ie=UTF8&amp;hq=&amp;hnear=%E9%87%8D%E5%BA%86%E5%B8%82%E4%B9%9D%E9%BE%99%E5%9D%A1%E5%8C%BA%E7%9F%B3%E6%A1%A5%E9%93%BA%E7%AB%8B%E4%BA%A4%E6%A1%A5%E7%9F%B3%E6%9D%A8%E8%B7%AF&amp;t=m&amp;z=14&amp;ll=29.52876,106.483538&amp;output=embed">
  </iframe>
  <br />
  <small><a href="http://ditu.google.cn/maps?f=q&amp;source=embed&amp;hl=zh-CN&amp;geocode=&amp;q=%E9%87%8D%E5%BA%86%E5%B8%82%E4%B9%9D%E9%BE%99%E5%9D%A1%E5%8C%BA%E7%9F%B3%E6%A1%A5%E9%93%BA%E7%AB%8B%E4%BA%A4%E6%A1%A5%E7%9F%B3%E6%9D%A8%E8%B7%AF&amp;aq=&amp;sll=35.86166,104.195397&amp;sspn=49.36024,107.138672&amp;brcurrent=3,0x36ecca5586e462c9:0x6646f4a4d519a86e,0,0x36ecb75b6637a963:0x36c193556fd39e40%3B5,0,0&amp;ie=UTF8&amp;hq=&amp;hnear=%E9%87%8D%E5%BA%86%E5%B8%82%E4%B9%9D%E9%BE%99%E5%9D%A1%E5%8C%BA%E7%9F%B3%E6%A1%A5%E9%93%BA%E7%AB%8B%E4%BA%A4%E6%A1%A5%E7%9F%B3%E6%9D%A8%E8%B7%AF&amp;t=m&amp;z=14&amp;ll=29.52876,106.483538" style="color:#0000FF;text-align:left">查看大图</a></small>
  </div>
</div>
