<h2><%= @event.name %></h2>
<%= social_share_button_tag(@event.name) %>
<%= link_to "修改", edit_event_path(@event) if admin? %>
<%= image_tag @event.poster_url, alt: @event.name, class: "poster" %>

<p>
  <b>举办时间:</b>
  <%= I18n.l(@event.hold_date, format: :long) %>
</p>

<p>
  <b>举办地:</b>
  <%= @event.location %>
</p>

<article id="eventDetail">
<%= sanitize @event.detail %>
</article>

<div id="enrolments">
  <h2>报名列表</h2>
  <ul>
    <%= render @event.enrolments %>
  </ul>
  <% if @event.pending_event? %>
    <%= form_for [@event, @event.enrolments.build], remote: true do |f| %>
      <% if !logged_in? %>
        <p>报名请先<%= link_to "登录", login_url %></p>
      <% elsif !@event.enrolments.find_by_user_id(current_user) %>
        <%= f.submit '我要报名' %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div id="topics">
  <h2>已提交话题</h2>
  <%= render @event.topics %>
  <% if @event.pending_event? %>
    <div id="new_topic_form">
      <%= render 'topics/form' %>
    </div>
  <% end %>
</div>

<% if @event.past_event? %>
  <div id="records">
  <h2>活动记录</h2>
    <%= render @event.records %>
  </div>
<% end %>

<%= render template: "/layouts/_uyan" %>
