<h1><%= @event.name %></h1>
<span><%= link_to "修改", edit_event_path if admin? %></span>

<%= image_tag @event.poster_url, alt: @event.name %>

<p>
  <b>举办时间:</b>
  <%= @event.hold_date %>
</p>

<p>
  <b>举办地:</b>
  <%= @event.location %>
</p>

<article id="eventDetail">
<%= sanitize @event.detail %>
</article>

<div id="enrolments">
  <ul>
    <%= render @event.enrolments %>
  </ul>
  <% if @event.pending_event? %>
    <%= form_for [@event, @event.enrolments.build], remote: true do |f| %>
      <%= f.submit '我要报名' %>
    <% end %>
  <% end %>
</div>

<div id="topics">
  <%= render @event.topics %>
  <% if @event.pending_event? %>
    <div id="new_topic_form">
      <%= render 'topics/form' %>
    </div>
  <% end %>
</div>
