<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>

<%= image_tag @event.poster_url %>

<p>
  <b>举办时间:</b>
  <%= @event.hold_date %>
</p>

<p>
  <b>举办地:</b>
  <%= @event.location %>
</p>

<p>
  <pre><%= sanitize @event.detail %></pre>
</p>
<div id="enrolments">
  <%= render @event.enrolments %>
  <div id="new_enrolment_form">
    <%= render 'enrolments/form' %>
  </div>
</div>

<div id="sessions">
  <%= render @event.sessions %>
  <div id="new_session_form">
    <%= render 'sessions/form' %>
  </div>
</div>
