<h1><%= @event.name %></h1>

<%= image_tag @event.poster_url, alt: @event.name %>

<p>
  <b>举办时间:</b>
  <%= @event.hold_date %>
</p>

<p>
  <b>举办地:</b>
  <%= @event.location %>
</p>

<article id="eventDetail">
<%= sanitize @event.detail %>
</article>
<div id="enrolments">
  <%= render @event.enrolments %>
  <input type=button value="我要报名" id="enrol_btn"></input>
  <div id="enrol_form">
    <%= render 'enrolments/form' %>
  </div>
</div>

<div id="topics">
  <%= render @event.topics %>
  <input type=button value="提交话题" id="new_topic_btn"></input>
  <div id="new_topic_form">
    <%= render 'topics/form' %>
  </div>
</div>
