<!DOCTYPE html>
<html>

  <head>
    <title>重庆Open Party</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "#{controller_name}", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "#{controller_name}" %>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
  </head>

  <body>
    <div id="wrapper">

      <header>
      <h1><a href="/">重庆Open Party</a></h1>
      <span>发现身边的智慧</span>
      </header>

      <ul id="mainNav">
        <li><a href="/">首页</a></li>
        <li><a href="/events">活动</a></li>
        <li><a href="/records">记录</a></li>
        <li><a href="/checkin">签到</a></li>
        <li><a href="/about">关于</a></li>
        <li><%= render partial: 'layouts/user_nav' %></li>
      </ul>

      <% if flash[:error] %>
        <div class="error"><%= flash[:error] %></div>
      <% end %>

      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>

      <article id="content">
      <%= yield %>
      </article>

    </div>

    <footer>
    <p>
      本网站由<a href="http://mindhiking.info/">Merlin Ran</a>基于<a href="http://rubyonrails.org/">Ruby on Rails</a>创建
      <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS Validator</a>
      <a href="http://validator.w3.org/check?uri=referer">XHTML Validator</a>
    </p>
    </footer>
    <%= render partial: 'layouts/google_analytics' %>
  </body>
</html>
